body {
    background-color: rgb(224,224,223);
      }

.all {
	background-color: rgb(224,224,223);
}

table#game_board{
	margin:auto;
	border-style: solid;
	border-width: 10px;
	border-color: rgb(100,100,100);
}

table#game_board td{
	padding:5px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(50,50,50);
}

#messages p{
	margin:0px;
}

td.hovered_over:hover {
	background:url('hover.gif'), rgb(224,223,222);
	background-size: 100% 100%;
}